/* Default button style */
.explore-button {
    border: 2px solid black; /* Default border */
    color: black; /* Default text color */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
    border-radius: 50px; /* Maintain the rounded corners */
    padding: 10px 20px; /* Add some padding for better visibility */
  }
  
  /* Hover effect */
  .explore-button:hover {
    color: transparent;
    background-image: linear-gradient(90deg, #CF71ED, #3335E2); /* Gradient for text */
    -webkit-background-clip: text;
    background-clip: text;
    border-color: #CF71ED; /* Solid color for the border on hover */
  }
  